.cadastro-container {
  background-color: #8748a7;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.cadastro-box {
  background-color: #642e80;
  padding: 60px 45px;
  border-radius: 15px;
  width: 350px;
  max-width: 90%;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.cadastro-box h2 {
  background-color: #b425ff;
  color: white;
  padding: 8px 30px;
  border-radius: 20px;
  margin-bottom: 16px;
  position: relative;
  top: -28px;
  display: inline-block;
  font-size: 18px;
}

.cadastro-box input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  background-color: #c5c5ff;
  position: relative;
  top: -15px;
}

.cadastro-box button {
  width: 60%;
  padding: 12px;
  background-color: #866aff;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.cadastro-box button:hover {
  opacity: 0.9;
}