.desejos-container {
  padding: 32px;
  background: #8b3f9f;
  min-height: 100vh;
  color: #fff;
}

/* Título */
.desejos-titulo {
  text-align: center;
  background: #5c2d91;
  padding: 14px 28px;
  margin-bottom: 28px;
  border-radius: 40px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  font-weight: 800;
}

/* Formulário */
.desejos-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-bottom: 32px;
}

.desejos-form input {
  padding: 12px 16px;
  border-radius: 14px;
  border: none;
  outline: none;
  width: 200px;
  background: #e4d7ff;
  font-size: 15px;
  color: #3a1641;
}

.desejos-form button {
  background: #c17aff;
  border: none;
  padding: 12px 20px;
  border-radius: 14px;
  font-weight: 700;
  cursor: pointer;
}

/* Grid */
.desejos-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 22px;
}

/* Card */
.desejos-card {
  background: #ffffff;
  color: #111;
  padding: 16px;
  border-radius: 12px;
  width: 200px;
  text-align: center;
  box-shadow: 0 6px 14px rgba(0,0,0,0.20);
}

.desejos-card img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.no-img {
  height: 150px;
  font-size: 50px;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#dfc7ff;
  border-radius:8px;
}

.desejos-card h3 {
  font-size: 18px;
  margin-top: 10px;
}

.desejos-card p {
  font-size: 14px;
  opacity: 0.7;
}

/* Botão excluir */
.btn-del {
  background: #ff5c5c;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

/* Mensagem vazia */
.vazio {
  background: rgba(255,255,255,0.25);
  padding: 14px;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 10px;
  font-weight: 600;
}
