html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.landing-container {
  width: 100%;
  height: 100vh;
  background: #f9f9fb; 
  
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  padding: 2px 50px 0 80px; 
  box-sizing: border-box;
}

.landing-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 65%; 
  text-align: left;
  margin-top: -40px;
}

.landing-title {
  font-size: 1.8rem; 
  font-weight: bold;
  color: #3b0c63;
  margin-bottom: 20px;
}

.landing-subtitle {
  font-size: 1.3rem; 
  color: #131016;
  line-height: 1.5;
}

.landing-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 35%; 
}

.landing-image {
  width: 100%;
  max-width: 370px;
  height: auto;
  margin-right: 50px; 
}

.landing-header {
  width: 100%;
  height: 80px;
  background: #dfd4ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
}

.header-logo {
  height: 75px;
  object-fit: contain;
}

.header-buttons {
  display: flex;
  gap: 20px;
}

.btn-login {
  background-color: #540076;
  color: white;
  padding: 12px 28px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
  transition: 0.2s ease;
}

.btn-login:hover {
  background-color: #3b0054;
}

.btn-register {
  background-color:  #c8aaff;
  color:  #540076;
  padding: 12px 28px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
  transition: 0.2s ease;
}

.btn-register:hover {
  background-color: #d2ddf5;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.btn-big-enter {
  margin-top: 55px;          
  align-self: left;        
  display: block;                       
  margin-right: auto;        
  
  background-color: #540076; 
  color: white;
  border: none;
  padding: 20px 48px;
  font-size: 1.2rem;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.25s ease;
}

.btn-big-enter:hover {
  background-color: #6258c4; 
}

