/* Container geral */
.rec-container {
  padding: 32px;
  background: #8b3f9f;
  min-height: 100vh;
  color: #fff;
}

/* Título */
.rec-titulo {
  text-align: center;
  background: #5c2d91;
  padding: 14px 28px;
  margin-bottom: 30px;
  border-radius: 40px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  font-weight: 800;
}

/* Grid */
.rec-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: center;
}

/* Card */
.rec-card {
  background: #ffffff;
  color: #111;
  padding: 16px;
  border-radius: 12px;
  width: 200px;
  text-align: center;
  box-shadow: 0 6px 14px rgba(0,0,0,0.20);
}

.rec-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.no-img {
  font-size: 50px;
  height: 150px;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#dfc7ff;
  border-radius:8px;
}

.rec-card h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
}

.rec-card p {
  font-size: 14px;
  opacity: 0.7;
}

.contador {
  display: block;
  margin-top: 8px;
  margin-bottom: 10px;
  color: #333;
  background: #f1e0ff;
  padding: 6px;
  border-radius: 8px;
  font-weight: 700;
}

/* Botão excluir */
.btn-del {
  background: #ff5c5c;
  color: #fff;
  border:none;
  padding: 8px 14px;
  border-radius: 10px;
  cursor:pointer;
  font-weight:700;
}

/* Mensagem vazia */
.vazio {
  background: rgba(255,255,255,0.3);
  padding: 14px 20px;
  border-radius: 12px;
  font-size: 18px;
  margin-top: 20px;
  font-weight: 600;
}
